*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.2rem;
	font-family: arial;
	box-sizing: border-box;
}
body{
	margin-bottom: 30px;
}

a{
	text-decoration: none;	
	color: #fff;
}

img{
	max-width: 100%;
	display: block;
}

.header{
	background-color: #111;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
}

.logo{
	font-weight: bolder;
	text-transform: uppercase;
}

.menu{
	display: flex;
}

.menu li{
	margin-left: 10px;
}

.menu li a{
	display: block;
	padding: 10px;
}

.menu li a:hover{
	color: red;
}

/*DESTAQUES - FLEX*/

h1{
	text-align: center;
	margin-top: 100px;
}

.dest{
	display: flex;
	flex-wrap: wrap; /*Permite que as imagens vá pra baixo da linha*/
	max-width: 1000px;
	margin: 0 auto;
}

.dest > div{
	flex: 1 1 280px; /*img expande, fica menor e sempre ter 200px*/
	margin: 26px;
}

/*GRID 1*/

.news{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 945px;
	margin: 0 auto;
	grid-gap: 26px; /*equivalente ao margin*/
}

/*seleciona apartir do quarto item*/
.news > div:nth-child(n + 4){
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	align-items: center;
}

.news > div.anuncio{
	grid-column: 1; /*item fica posicionada na primeira coluna*/
	grid-row: 2 / 5; /*item fica posicionada na linha 2 at? a 5. LINHAS ENTRE O ITEM.*/
	display: block; /*volta ao tamanho original*/
}

@media (max-width: 600px){
	.news{
		grid-template-columns: repeat(2, 1fr);
	}
	
	.news > div:nth-child(n + 4){
		display: block;
	}
	
	.news > div.anuncio{
		grid-column: auto;
		grid-row: auto;
		order: -1; /*coloca o anuncio na primeira posi??o.*/
	}
}

/*GRID YOUTUBE*/

.youtube{
	display: grid;
	grid-template-columns: 1fr 200px;
	grid-gap: 20px;
	max-width: 800px;
	padding: 10px;
	margin: 0 auto;
}

.sidebar > div{
	margin-bottom: 10px;
}

@media (max-width: 600px){
	.youtube{
		grid-template-columns: 1fr;
	}
	
	.sidebar{
		display: flex;
		overflow: scroll; /*cria um scroll se for diminuido*/
	}
	
	.sidebar > div{
		flex: 1 0 200px;
		margin: 0 10px;
	}
}